<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categoria</title>
  
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="assets/css/categorias.css" rel="stylesheet" />

</head>
<body>
    
    <section>

    


	  <div class="container">
		<h1>Categoria</h1>
		<div class="category">
			<h2>Terror</h2>
			<ul class="book-list">
				<li>
					<img src="assets/imgs/terror_5.jpg"  alt="img" height="200" width="250">
					<h3>O Exorcista</h3>
					<p>William Peter Blatty</p>
					<p>R$ 44,90</p>
					<button>Adicionar ao carrinho</button>
				</li>
				<li>
					<img src="assets/imgs/terror_6.jpg" alt="img" height="200" width="250">
					<h3>O que aconteceu coom Annie</h3>
					<p>C. J. Tudor</p>
					<p>R$ 39,90</p>
					<button>Adicionar ao carrinho</button>
				</li>
				<li>
					<img src="assets/imgs/terror_7.jpg"  alt="img" height="200" width="250">
					<h3>Medo Imortal</h3>
					<p>Afonso Arinos</p>
					<p>R$ 39,90</p>
					<button>Adicionar ao carrinho</button>
				</li>
				<li>
					<img src="assets/imgs/terror_8.jpg"  alt="img" height="200" width="250">
					<h3>Com Sangue</h3>
					<p>Stephen King</p>
					<p>R$ 35,90</p>
					<button>Adicionar ao carrinho</button>
				</li>
                <li>
					<a href="livrodesc.html"><img src="assets/imgs/h.jpg" alt="img" height="200" width="250"></a>
					<h3>H. H. Holmes</h3>
					<p>Harold Schechter</p>
					<p>R$ 39,90</p>
					<a href="carrinho.html"><button>Adicionar ao carrinho</button></a>
				</li>
				<li>
					<img src="assets/imgs/terror_2.jpg"  alt="img" height="200" width="250">
					<h3>O Iluminado</h3>
					<p>Stephen King</p>
					<p>R$ 39,90</p>
					<button>Adicionar ao carrinho</button>
				</li>
			</ul>
		</div>
	</div>



</body>
</html>